* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background-image: linear-gradient(236deg, #565659, #acafb3);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    border-radius: 10px;
    user-select: none;
}

#Display-area {
    margin-bottom: 10px;
    background-color: black;
    color: #f2ffff;
    width: 94.5%;
    height: 100px;
    display: grid;
    padding: 29px;
    text-align: right;
    font-size: calc(1rem * 1.2 * 1.2);
    justify-content: end;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40px, auto));

}

#Display-area .currentInput {
    /* display: flex; */
    text-align: right;
    height: 8vh;
    color: #fff;
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
}

#Display-area .answerScreen {
    text-align: right;
    color: rgba(219, 211, 211, 0.87);
    height: 7px;
    line-height: 3;
    font-size: larger;
}

.icon {
    width: 86px;
    height: 100px;
    background-color: #228bff;
    position: absolute;
    right: 0%;
    top: 92%;
    border-radius: 41%;
    border-top-right-radius: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .history {
    width: 30px;
    height: 30px;
    margin-right: 2px;
  }

.keypad-btns {
    display: grid;
    grid: repeat(5, 70px) / repeat(4, 70px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.keypad-btns button {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #131313;
    color: white;
    font-size: x-large;
}

.keypad-btns .fun_btn {
    color: #ff8800;
}

.num_btn:hover,.fun_btn:hover {
    background-color: rgba(29, 29, 29, 0.979);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #131313;
        align-items: flex-start;
    }
}